<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Teszt" connectionString="Data Source=LENOVO-T480S-22;Initial Catalog=Teszt;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;"/>
  </connectionStrings>
</configuration>